body{
    background-color: #FFFFFF;
}
.txtA{
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(20px,9vw,5px);
}
.fLaranja{
    background-color: #F67B30;
    height: 100%;
    color: white;                
}
.bLaranja{
    background-color: #F67B30;
    height: 5vh;
    width: 12vh;
    color: white;                
}
.bCinza{
    background-color: gray;
    height: 5vh;
    width: 12vh;
    color: white;                
}
.fBranco{
    background-color: white;
    color: black;
    margin-top: 2%;
    margin-left: 1vh;
    /* margin-right: 1vh; */
    border-color: white;
    width: 94%;
    border-bottom: 0px;
}

.fBrancoB{
    background-color: white;
    color: black;
    /* margin-top: 1%; */
}
.icon{
    float: left;
    width: 10%;
}
.iconA{
    float: center;
    width: 10%;
}
.center{
    float: center;
    text-align: center;
    position: center;
    /* background-color: white; */
    color: black;
    margin-top: 2%;
    border-color: white;
    width: 100%;
    border-bottom: 0px;
    font-weight: bold;
}
.label1{
    margin-right: 6vw;
    font-weight: bold;
}
.label2{
    margin-right: 3.5vw;
    font-weight: bold;
}
.label3{
    margin-right: 7vw;
    font-weight: bold;
}
.label4{
    margin-right: 4vw;
    font-weight: bold;
}
.row{
    --bs-gutter-x: 0rem;
}
.body1{
    /* margin-top: 2vh;*/
    margin-left: 2vh;
    /* margin-right: 2vh; */
    background-color: #A6A6A6;

    border-radius: 25px;
    line-height: 30px;
    padding: 0.7vh 20px;
    height: 25vh;
    width: 98%;
}        
.body2{
    margin-top: 18vh;
    margin-left: -2.1vh;
    background-color: #F6F5F5;

    border-radius: 25px;
    line-height: 30px;
    padding: 0.7vh 20px;
    width: 102.2%;
    height: 100%;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.body3{
    margin-left: 9vh;
    margin-top: -8vh;
    background-color: DimGray;

    /* border-radius: 25px;
    line-height: 30px; */
    padding: 0.7vh 20px;
    height: 13vh;
    width: 13vh;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=- */
/*.body1a{
    margin-top: 1vh;
    margin-left: 0vh;
    margin-right: 0vh;
    background-color: #D9D9D9;

    border-radius: 25px;
    line-height: 30px;
    padding: 0.7vh 20px;
    height: 40vh;
    width: 156vh;
}
 .body2a{
    margin-top: -30vh;
    margin-left: 0.5vh;
    margin-right: 0vh;
    background-color: white;

    border-radius: 25px;
    line-height: 30px;
    padding: 0.7vh 20px;
    height: 40vh;
    width: 155vh;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
} */
.body3a{
    margin-top: -12.5vh;
    margin-left: 0vh;
    margin-right: 0vh;
    background-color: #D9D9D9;


    line-height: 30px;
    padding: 0.7vh 20px;
    height: 6vh;
    width: 156vh;
}
.b3b{
    margin-top: -0.2vh;
    margin-left: -1.5vh;
    margin-right: 0vh;
    background-color: white;

    border-radius: 0px;
    line-height: 30px;
    padding: 0.7vh 20px;
    height: 5vh;
    width: 155vh;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=- */
.textInput{
    margin-top: -4vh;
    margin-left: 25vh;
    /* margin-right: 2vh; */
}
.inputTextA{
    background-color: #F6F5F5;
    /* border-radius: 25px; */
    line-height: 30px;
    /* padding: 0.7vh 20px; */
    /* text-transform: uppercase; */
    font-weight: bold;
    color:black;
    border: 0px solid #F67300;
}

.linhaInputA{
    margin-top: -0vh;
    height: 2px;
    width: 30vh;
}
.txtA{
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(20px,9vw,5px);
    color: #F67B30;
}
.a{
    margin-top: 30vh;
}
.txxt{
    color: black;
}
.img1{
    width: 3vh;
    margin-left: -35vh;
    margin-top: -6vh;
}
.img2{
    width: 3vh;
    margin-left: 32vh;
    margin-top: -11vh;
}
.imga1{
    width: 5vh;
    margin-left: -25vh;
    margin-top: 0vh;
}
.timga{
    width: 50vh;
    margin-left: 3vh;
    margin-top: -5vh;
}


.custom-fieldsetFoto {
    border: 2px solid #ccc;
    height: 13vh;
    width: 15.5vh;
    position: relative;
    margin-top: 10px;

    border-radius: 7px;
}
                                        
#custom-legendFoto {
    font-size: 1.5vh;
    position: absolute;
    width: 11vh;
    margin-left: 1vh;
    top: -20px;
    background-color: #fff;
    padding: 0 5px;

    border-radius: 7px;
}  


.inputCor{
    border: 2px solid #ccc;
    height: 10vh;
    width: 10vh;
    position: relative;
    margin-top: 10px;

    border-radius: 15vh;
}



.custom-fieldsetCor {
    border: 2px solid #ccc;
    height: 13vh;
    width: 15.5vh;
    position: relative;
    margin-top: 10px;

    border-radius: 7px;
}
                                        
#custom-legendCor {
    font-size: 1.5vh;
    position: absolute;
    width: 11vh;
    margin-left: 1vh;
    top: -20px;
    background-color: #fff;
    padding: 0 5px;

    border-radius: 7px;
}

/* .timga1{
    width: 50vh;
    margin-left: 15vh;
    margin-top: 2vh; 
}
.timga2{
    width: 50vh;
    margin-left: 12vh;
    margin-top: -5vh;
} */
.sombra {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.corText{
    color: #A6A6A6;
}
.btnAddCategoria{
    width: 25vh;
    border: 2px solid #D9D9D9;
    background-color: white;

    border-radius: 5px;
    line-height: 20px;
    padding: 0.6vh 10px;
}
.btnAddProduto{
    width: 25vh;
    border: 2px solid #D9D9D9;
    background-color: white;

    border-radius: 5px;
    line-height: 20px;
    padding: 0.6vh 10px;
}
label {
    cursor: pointer;
}
.fotoCategoria{
    width: 100vh;
    margin-left: 0vh;
    margin-top: 0vh;
}
.fotoCategoriaB{
    width: 100vh;
    margin-left: 0vh;
    margin-top: 0vh;
}
.espacoA{
    margin-top: 1vh;
}
.logo{
    width:30vh;
}
.mobile{
    display:none;
}
.logoA{
    /* display: flex; */
    width:100%;
}   
.iconTrash{
    width: 3vh;
    margin-left: 0vh;
    margin-top: -3vh;
}     
.iconTrashA{
    width: 3vh;
    margin-left: 150vh;
}       

.iconEdit{
    width: 3vh;
    height: 3vh;
    margin-top: -12vh;
    margin-left: 142vh;
}
.iconEditA{
    width: 3vh;
    height: 3vh;
    margin-top: 0vh;
    margin-left: 72vh;
}
.iconA{
    width: 3vh;
    height: 3vh;
    margin-left: 0vh;
    margin-top: 0vh;
} 